.card {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.card-txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    padding-right: 20px;
}

.card-title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--grayfont);
    font-size: 25px;
    padding-right: 20px;
}

#card-skills {
    margin-top: 0;
    margin-bottom: 20px;

}

#card-skills .used-skill {
    font-size: 15px;
}

#card-skills .used-skill-icon {
    font-size: 35px;
}

.short-descript {
    color: var(--grayfont);
    font-size: 18px;
    margin-bottom: 30px;
}

.card-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.card-button {
    cursor: pointer;
    color: var(--blue);
    font-size: 18px;
    background-color: white;
    border: solid 2px var(--blue);
    border-radius: 5px;
    width: 150px;
    padding-bottom: 8px;
    padding-top: 8px;
    transition: 0.3s ease;
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.card-button:hover {
    transform: scale(1.05);
    background-color: var(--blue);
    color: white;
}

.card-button:active {
    background-color: var(--yellow);
    color: var(--blue);
}

#prj-link {
    text-decoration: none;
}

.card-img {
    transition: ease 0.3s;
    cursor: pointer;
}

.card-img:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}