#landing-mobile {
    width: 280px;
}

.mobile-screen {
    margin-bottom: 20px;
    position: relative;
}

#hello-mobile {
    margin-bottom: 20px;
    font-size: 30px;
}

#hello-mobile span {
    color: var(--blue);
    position: relative;
    padding-left: 2px;
    padding-right: 8px;
    padding-bottom: 2px;
    background-color: var(--yellow);
    animation: changeBackground 1s;
}


@keyframes changeBackground {
    from {
        background-color: white;
    }

    to {
        background-color: var(--yellow);
    }
}

.stack-wrapper-mobile {
    width: 160px;
    height: 280px;
    position: absolute;
    top: 5%;
    left: 6.9%;
}