#contact {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items: baseline;
    min-width: 600px;
    max-width: 80%;
}

#contact #header {
    color: var(--blue);
    font-size: 60px;
    text-align: left;
    align-self: center;
    margin-bottom: 50px;
}

#contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 600px;
    align-self: center;
}

#contact-sec {
    position: relative;
    color: var(--grayfont);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    padding-right: 5px;
    padding-left: 5px;
    transition: transform 0.3s ease;
    text-decoration: none;
}

#contact-sec:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#contact-sec::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--yellow);
    transition: width 0.5s ease;
    z-index: -1;
}

#contact-sec:hover::after {
    width: 100%;
}

#contact-sec span {
    font-size: 25px;
}

.contact-icon {
    font-size: 35px;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.contact-icon:hover {
    transform: scale(1.2);
}

#thanks {
    color: var(--blue);
    font-size: 50px;
    transform: rotate(-8deg);
    margin-top: 120px;
    margin-bottom: 50px;
    align-self: center;
    margin-right: 200px;
}