.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    margin-top: 0;
    width: 100%;
    color: var(--grayfont);
    padding-top: 50px;
    box-sizing: border-box;
}

/*PC*/
/*sections*/

.section-parent {
    align-self: center;
    justify-content: center;
    justify-items: center;
}

.section {
    align-self: center;
    width: 1200px;
    cursor: default;
}

/*landing*/

/*projects*/

#projetcs-parent {
    background-color: var(--blue);

    width: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    box-sizing: border-box;
}

/*about*/

#about-parent {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding-top: 20px;
}

/*skills*/

#skills-parent {
    height: 60vh;
    min-height: 460px;
    text-align: center;
    justify-content: center;
    align-content: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/*contact*/

#contact-parent {
    height: 70vh;
    min-height: 460px;
    text-align: center;
    justify-content: center;
    align-content: center;
}

/*MOBILE*/
/*sections-mobile*/

.section-parent-mobile {
    align-self: center;
    justify-content: center;
    justify-items: center;
    width: 100vw;
}

.section-mobile {
    width: calc(100vw - 40px);
    align-self: center;
    cursor: default;
    padding-left: 20px;
    padding-right: 20px;
}

/*projects-mobile*/

#projetcs-parent-mobile {
    background-color: var(--blue);
    width: 100%;
    text-align: left;
    justify-content: center;
    align-content: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    box-sizing: border-box;
}

/*skills-mobile*/

#skills-parent-mobile {
    background-color: var(--blue);
    text-align: center;
    justify-content: center;
    align-content: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/*contact-mobile*/

#contact-parent-mobile {
    text-align: center;
    justify-content: center;
    align-content: center;
}


/*footer*/

footer {
    text-align: center;
    color: var(--blue);
    font-size: 20px;
    height: 30px;
    bottom: 0;
    margin-top: 50px;
}