.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    margin-top: 0;
    width: 100%;
    color: var(--grayfont);
    padding-top: 50px;
}

/*navbar*/

/*sections*/

.section-parent {
    align-self: center;
    justify-content: center;
    justify-items: center;
}

.section {
    align-self: center;
    width: 1200px;
    cursor: default;
}

/*landing*/

/*projects*/

#projetcs-parent {
    background-color: var(--blue);
    height: calc(101vh);
    width: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/*about*/

#about-parent {
    height: 85vh;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding-top: 20px;
}

/*skills*/

#skills-parent {
    height: 60vh;
    min-height: 460px;
    text-align: center;
    justify-content: center;
    align-content: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/*contact*/

#contact-parent {
    height: 70vh;
    min-height: 460px;
    text-align: center;
    justify-content: center;
    align-content: center;
}

/*footer*/

footer {
    text-align: center;
    color: var(--blue);
    font-size: 20px;
    height: 30px;
    bottom: 0;
    margin-top: 50px;
}