.homepage-popup-wrapper {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    inset: 0;
}

.homepage-popup-backround {
    position: fixed;
    z-index: 1000;
    background-color: black;
    opacity: 90%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    inset: 0;
}

.homepage-popup-inner {
    position: fixed;
    z-index: 1001;
    opacity: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.popup-icon {
    color: white;
    font-size: 60px;
    cursor: pointer;
    transition: 0.3s ease;
}

.popup-icon:hover {
    transform: scale(1.2);
}

.img-popup {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.popup-img-descript {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
}

#close-popup {
    position: relative;
    bottom: 35%;
    right: 3%;
}

#projpage-vid {
    width: 1120px !important;
    height: 589.5px !important;
}