.stack-animation {
    position: relative;
    width: 610px;
    height: 280px;
    z-index: 2;
}


.rectangle {
    position: relative;
    z-index: 3;
    height: 45px;
    border-radius: 5px;
    margin-bottom: 1px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    top: -23px;
}

#rec-6 {
    background-color: #32c1db;
    z-index: 5;
    top: -5px;
    width: 50px;
    left: 278px;
}

#rec-5 {
    background-color: var(--blue);
    width: 161px;
    left: 225px;
}

#rec-4 {
    background-color: #ffeea7;
    width: 287px;
    left: 168px;
}

#rec-3 {
    background-color: #32c1db;
    width: 248px;
    left: 186px;
}

#rec-2 {
    background-color: var(--blue);
    width: 216px;
    left: 202px;
}

#rec-1 {
    background-color: #ffde59;
    width: 287px;
    left: 168px;
}

.stack-bottom {
    position: relative;
    z-index: 2;
    top: -23px;
    left: 145px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 330px;
    height: 28px;
    background: #959595;
    border-radius: 5px;

}