.carousel-container {
    height: calc(101vh - 100px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    overflow: hidden;
}

.carusel-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1080px;
    height: calc(101vh - 250px);
}

.proj-on-carusel {
    position: absolute;
    transition: all 1s ease;
    width: 800px;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Center project */
.proj-on-carusel.center {
    transform: translateX(0) scale(1.1);
    z-index: 3;
    background: blueviolet;
}

/* Left neighbor */
.proj-on-carusel.left {
    transform: translateX(-420px) scale(0.9);
    z-index: 2;
}

/* Right neighbor */
.proj-on-carusel.right {
    transform: translateX(420px) scale(0.9);
    z-index: 2;
}

/* Hidden projects */
.proj-on-carusel.hidden {
    opacity: 0;
    pointer-events: none;
}

.carousel-btn {
    position: relative;
    color: blue;
    font-size: 60px;
    transition: ease 0.3s;
    cursor: pointer;
    z-index: 90;
}

.carousel-btn:hover {
    transform: scale(1.2);
}