.navbar {
    top: 15px;
    left: 0;
    width: 60%;
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    justify-content: space-around;
    color: var(--blue);
    font-size: 30px;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: sticky;
    z-index: 99;
    background-color: none;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.navbar.shrink {
    transform: scale(0.8);
    transform-origin: top center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
}

.nav-link {
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.nav-link:hover {
    cursor: pointer;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--yellow);
    transition: width 0.3s ease;
    z-index: -1;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link:visited,
.nav-link:active {
    color: var(--blue);
}

.nav-link.active-link {
    font-weight: 700;
}

.nav-link.active-link::after,
.nav-link:active::after {
    width: 100%;
    background-color: var(--yellow);
}