#landing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: calc(100vh - 100px);
}

#hello {
    font-size: 30px;
    padding-top: 100px;
}

#hello span {
    color: var(--blue);
    position: relative;
    display: inline-block;
    padding-left: 2px;
    padding-right: 8px;
    padding-bottom: 2px;
    background-color: var(--yellow);
    animation: changeBackground 1s;
}

#fsd {
    font-size: 45px;
    padding-left: 10px;
    background-color: var(--yellow);
    animation: changeBackground 1s;
}

@keyframes changeBackground {
    from {
        background-color: white;
    }

    to {
        background-color: var(--yellow);
    }
}

.pc-screen {
    position: relative;
}

.stack-wrapper {
    position: absolute;
    top: 5%;
    left: 3%;
    width: 610px;
    height: 280px;
    pointer-events: none;
}